<div class="big-card">
    <img src="{{ Photo }}" alt="Principal image">
    <div class="transparent_card">
        <div class="text_big_card">
            <h2><a [routerLink]="['content', Id]" class="text">{{ title }}</a></h2>
            <p><a href="#" class="text">{{ author }}</a></p>
        </div>
        <div class="tags_big_card">
            <p><a href="#">{{ tag1 }}</a></p>
            <p><a href="#">{{ tag2 }}</a></p>
            <p><a href="#">{{ tag3 }}</a></p>
        </div>
    </div>
</div>
